<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to book Query!</title>
  </head>
  <body>
    <div class="wrap">
   <div class="search">
      <input type="search" class="searchTerm" name = "params[:search]" placeholder="Search for your book here!">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

  </body>
</html>
